doctype html
html(lang='zh-Hant')
  head
    include _meta_tag

    block stylesheet
    block js
  body
    block nav
      include _nav

    block header
      include _header

    block content

    block footer
      include _footer

    block js-lazy
