.container-fluid#features
  h1 PickLete 特色
  .row
    .col-xs-12.col-sm-4.user-system
      .title.green-1 自動升級機制
      .title.green-2 手動升級機制
      .title.green-3 會員分級制度
    .col-xs-12.col-sm-4.marketing
      .cross-left
      .title.yellow-1 加價購功能
      .title.yellow-2 全館折扣行銷
      .title.yellow-3 分館折扣行銷
      .title.yellow-4 單項折扣行銷
      .cross-right
    .col-xs-12.col-sm-4.special-marketing
      .title.purple-1 專屬導購行銷
      .title.purple-2 信件 / 訊息 推播
      .title.purple-3 Chatbot 客服機器人
