.container-fluid#features
  h1 PickLete 特色
  .row
    .col-xs-12.col-sm-4.user-system
      .title 自動升級機制
      .title 手動升級機制
      .title 會員分級制度
    .col-xs-12.col-sm-4.marketing
      .cross-left
      .title 加價購功能
      .title 全館折扣行銷
      .title 分館折扣行銷
      .title 單項折扣行銷
      .cross-right
    .col-xs-12.col-sm-4.special-marketing
      .title 專屬導購行銷
      .title 信件 / 訊息 推播
      .title Chatbot 客服機器人
