extends ../generic/_layout

block prepend header
  .main.cover

block content
  include ../partials/_feature

  .container-fluid.feature-detail-list
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 網站設計
      p PickLete提供多種風格主題，還能自訂首頁區塊！讓店長自己能夠快速擁有美麗又獨一無二的專屬品牌官網
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 企業形象
      p PickLete提供客製化的企業專屬形象網頁，確定自己的品牌定位，讓消費者印象更深刻
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 多元收款
      p PickLete提供多種第三方金流的串接，亦能提供EZSHIP貨到付款，另提供彈性的線下作業，想要用什麼方式收款都可以！
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 即時客服
      p 頁面預載客服信箱頁面，也可在首頁直接連結官網客服，快速點擊連結官方LINE、FB MESSAGE，即時客服更容易
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 LINE、FB 客服機器人
      p PickLete領先同業！獨家提供LINE、FB 客服機器人服務，有效節省客服人力
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 商品聰明上架
      p PickLete能幫助客戶輕鬆做好商品管理，提供商品批次上架、庫存管理、訂單控管，頁面直覺易懂，小朋友也能快速學會操作
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 多平台同步上架
      p PickLete獨家提供多平台同步上架，經營多個平台也不用煩惱，PICKLETE能夠解決繁瑣的重複上架
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 VIP會員分級
      p PickLete能夠提供VIP會員專屬優惠、針對VIP客戶制訂特別優惠，掌握優質會員芳心
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 提供完整行銷工具
      p 免被平台綁架！PickLete提供完整行銷工具！優惠折扣、免運設定、優惠碼、加價購，優惠活動怎麼設定通通自己決定
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 專屬導購連結
      p PickLete提供部落客專屬導購連結與頁面，行銷更多選擇更多元化
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 會員管理
      p PickLete提供後檯完整的會員管理功能，包含會員身份的轉換(一般會員、VIP、停權會員)，能夠從會員資料瀏覽所有購買歷程、會員資料註記
    .col-xs-12.col-sm-6.col-md-4.intro-detail
      h4 底層數據分析
      p PickLete提供美觀、直覺的數據分析，站內即可得到所有商品行銷圖表與數據分析，不懂ＧＡ分析怎麼看、不懂EXCEL 公式怎麼寫沒關係，通通交給PickLete就好
